

.home{
    padding: 2rem 5%;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 4rem);
    width: 100%;

    >section{
        width: 100%;
        height: 18.75rem;
        margin: auto;
        background: url("../assets/images/heads.png") no-repeat center / cover;
    }
    h1{
        @include heading(1px);
        margin-top: 3rem;
        @include flex(row, space-between, center);

    }

    .findmore{
        font-size: 1rem;
    }

    >main{
        width: 100%;
        flex: 1;
        display: flex;
        gap: 1;
        overflow-x: auto;

        &::-webkit-scrollbar{
            display:none;
        }
    }
}

.product-card{
    // width: 17rem;
    // height: 17rem;
    padding: 1rem;

    // border: 1px solid #ccc;
    flex: none;
    gap: 0.5rem;
    @include flex(column, flex-start, center, 4px);
    position: relative;
    background-color: white;

    // img {
    //     @include square(calc(18.75 - 3));
    //     object-fit:cover;
    //     margin: 1rem;

    //         border: 1px solid #ccc;

    // }

    span{
        font-weight: 700;
        font-size: 1.1rem;

    }
    >div{
        position: absolute;
        @include square(100%);
        top:50;
        left: 20;
        background-color: #0000006b;
        @include flex;
        @include square(3rem);
        border-radius: 100%;
        border: none;
        background-color: $color3;
        cursor: pointer;
        color: $color2;
        font-size: 1.1rem;
        transition: all 0.3s;
        &:hover{
            rotate: 20deg;
        }
        border: solid;
    }
    
}
