
.loader-wrapper {
      position: fixed;
    inset: 0; // top: 0; right: 0; bottom: 0; left: 0
    background: rgba(255, 255, 255, 0.75); // overlay
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.loader {
     width: 48px;          // small spinner 
    height: 48px;
    border: 7px solid #e5e7eb;
    border-top-color: #2563eb;
    border-radius: 50%;
    animation: spin 0.9s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

// css for skeleton loader:


.skeleton-loader {
  display: flex;
  gap: 16px;
}

.skeleton-shape {
  width: 100%;
  height: 120px;
  border-radius: 8px;
  background: linear-gradient(
    90deg,
    #e0e0e0 25%,
    #f5f5f5 37%,
    #e0e0e0 63%
  );
  background-size: 400% 100%;
  animation: skeleton-loading 1.4s ease infinite;
}

@keyframes skeleton-loading {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

